<article class="offer-card">
    <div class="offer-card__image-container">
        <img
            class="offer-card__image"
            [src]="offer.offerImages?.[0] || offer.business.logoUrl"
            alt = "{{ offer.title }}"
        />

        <span
            class="status-badge"
            [class.status-badge--active]="offer.status === 'active'"
            [class.status-badge--inactive]="offer.status === 'inactive'"
        >
            {{ offer.status }}
        </span>
    </div>
    
  <div class="offer-card__content">
    <div class="business-details">
        <img
            class="business-logo"
            [src]="offer.business.logoUrl"
            alt="{{ offer.business.name }}"
        />

        <span>{{ offer.business.name }}</span>
    </div>

    <h2>{{ offer.title }}</h2>

    <p class="offer-description">
        {{ offer.description }}
    </p>

    <div class="discount-display">
      {{ offer.discount }}% OFF
    </div>

    <div class="offer-meta">
      <p>
        <strong>Plans:</strong>
        {{ offer.plan.join(', ') }}
      </p>

      <p>
        <strong>Uses:</strong>
        {{ offer.amountOfUses }}
      </p>
    </div>

    <button
        type="button"
        class="offer-card__edit-button"
        (click)="toggleStatus()"
        [disabled]="isUpdating"
    >
    @if (isUpdating) {
        Updating...
    } @else {
        {{ offer.status === 'active' ? 'Deactivate Offer' : 'Activate Offer' }}
    }
    </button>

    @if (updateErrorMessage) {
        <p> {{updateErrorMessage}} </p>
    }

  </div>
</article>